<a href="@Url.Action("Index", "Home") %>" class="logo-mascot" >
    <img src="~/Images/bulldog.png" alt=""/>
</a>
<a href="@Url.Action("Index", "Home") %>" class="logo-yips" >
    <img src="~/Images/yips-logo.png" alt=""/>
</a>
<a href="@Url.Action("Index", "Home") %>" class="logo-bc" >
    <img src="~/Images/bclogo.png" alt=""/>
</a>