body {
    font-family: $main-font;
    font-size: $base-size;
    color: $text-color;
    @include gradient-backdrop($base-color, $secondary-color, 30%);
}

h2 {
	font-size: $size-bigger2;
	font-weight: bold;
	line-height: 2em;
}

header {
	margin-left: 10%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

nav {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	li {
		display: inline-block;
		padding-right: 10px;
	}
}

table {
	width:100%;
	thead {
		font-weight: bold;
	}
}

table, tr, td {
	border: solid 1px $greyed-out-color;
	text-align: center;
}

article {
    background-color: $text-background-color;
	padding-bottom: 20px;	
}

aside, section {
	vertical-align: top;
	display: inline-block;
	margin-top: 10px;
}

aside {
	margin-top: 20px;
	margin-left: 20px;
	width: 35%;
}

section {
	margin-left: 10px;
}

footer {
	color: $text-background-color;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10%;
}